<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Логи ключа <%= serviceKey.code %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   <header>
    <div class="header-container">
      <h1><a href="/admin">Главная</a></h1><h2>Логи серв.ключа «<%= serviceKey.code %>»</h2>
      <div class="user-info">
        Пользователь: <%= user.username %> |
        <a href="/logout">Выйти</a>
      </div>
    </div>
  </header>
  <main>
    <table>
      <thead>
        <tr>
          <th>IP турникета</th>
          <th>Дата и время активации</th>
        </tr>
      </thead>
      <tbody>
        <% logs.forEach(log => { %>
          <tr>
            <td><%= log.equipmentIp || '-' %></td>
            <td><%= log.timestamp.toLocaleString() %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </main>
</body>
</html>
